body {
    background-color: #000;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    flex-direction: column;
}

button {
    outline: none;
}

button,
li,
#close {
    cursor: pointer;
}

*:not(li) {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
}

html {
    scroll-behavior: smooth;
}

/* -----------------------header----------------------- */
header {
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 100;
}

header img {
    width: 80px;
    margin: 3.5vh;
}

/* -----------------------navbar----------------------- */
aside {
    width: 60px;
}

nav {
    width: 60px;
    height: 100vh;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f1f1f125;
    box-sizing: border-box;
    z-index: 3;
}

nav ul {
    flex-direction: column;
    align-items: center;
}

nav ul li {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    display: inline-block;
    transition: 100ms ease-in 0s;
    border-radius: 7px;
    box-sizing: border-box;
    border-bottom: solid 5px #fff0;
}

nav ul li:hover {
    border-bottom: solid 5px #ff5050;
}

#light-mode {
    display: none;
}

/* -----------------------end----------------------- */

/* -----------------------main----------------------- */
main {
    margin-left: 60px;
    position: relative;
}

/* ------movie-info------ */
#movie-info {
    background: center / cover no-repeat url("https://occ-0-1068-92.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABXq_vQJf0hxGmUQqHnb8nXwpz8iEmzC2upISv1MYxfE2kXO-IouDyL-TuAAkSqEn-iPui5s3ax8In2XqquIQkQ7L7csL.jpg?r=a42");
    height: 63vh;
    min-height: 300px;
    position: relative;
    align-items: center;
}

#fade {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000 -30%, #fff0);
    position: absolute;
    z-index: auto;
}

#about-movie {
    position: relative;
    z-index: 1;
    margin-left: 5%;
    margin-bottom: 3.5rem;
}

#about-movie h2 {
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: -0.1rem;
    line-height: 2.9rem;
    font-family: 'Architects Daughter', cursive;
}

#about-movie p {
    width: 260px;
    margin: 0.2rem 0 1rem 0;
    font-size: 1.1rem;
    line-height: 1.15rem;
}

#buttons button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
}

#play {
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    background-color: #f1f1f1;
}

#more-info {
    background-color: #605e61;
    color: #fff;
}

/* ------end------ */

/* ------categories------ */

#categories {
    position: absolute;
    width: 100%;
    top: 80%;
    z-index: 2;
    backdrop-filter: blur(0px);
    transition: 500ms ease;
}

.collection {
    margin: 0 2rem 2rem;
}

.collection h3 {
    font-size: 1.7rem;
}

.collection ul {
    width: 100%;
    margin-top: 0.5rem;
    justify-content: space-between;
}

.collection li {
    width: calc(98% / 6);
    height: 21vw;
    transition: 200ms;
    z-index: auto;
}

.collection li img {
    width: 100%;
    height: 100%;
}

#close {
    position: absolute;
    top: 9vh;
    right: 5vw;
    font-size: 1.2rem;
}

/* ------end------ */
/* -----------------------end----------------------- */
.flex {
    display: flex;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}